

@use 'variables';
@use 'functions'; 
@use 'sass:color';
@use 'sass:map';

@mixin article($color, $border-color, $font-size){
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
}

%title{
    grid-area: title;
    color: variables.$color-tertiary;
}
#hero{
    border: 1px solid variables.$color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: functions.toRem(16);

    &>h1{
        @extend %title;
        text-decoration: underline variables.$color-secondary;
    }

    &>h2{
        @extend %title;
        padding: 1rem;
        border: 1px solid red;
    }




    

}

.contents{
    display: flex;
    justify-content: center;

    &>article{
        border: 1px solid variables.$color-tertiary;
        padding: functions.toRem(16);
        text-align: center;


        &:nth-child(odd){
            @include article(variables.$color-secondary, variables.$color-tertiary, functions.toRem(16))
        }

        &:nth-child(even){
            @include article(variables.$color-primary, variables.$color-tertiary, functions.toRem(16))
        }
        
    }
}

@for $n from 1 to 4{
    .fs-#{$n}rem{
        font-size: $n + rem;
    }
}

$black: rgb(0, 0, 0);




.pictures{

    padding-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;

    &>div{
        width: functions.toRem(45);
        height: functions.toRem(45);
        border: 1px solid black;
        @for $n from 1 to 20{
            @if($n == 10){
                &:nth-child(10){
                    color: red;
                    background-color: blue;
                }
            }
            @else{
                &:nth-child(#{$n}){
                    color: lighten(black, $n*5);
                    background-color: darken(white, $n*5);
                }
            }
        }
    }

}

#footer{
    margin-top: 1rem;
    text-align: center;
    @include article(variables.$color-tertiary, variables.$color-secondary, functions.toRem(24));
}

#footer-wrapper{
    width: 100%;
}