$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

@mixin article($color, $border-color, $font-size){
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
}


#hero{
    border: 1px solid $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    &>h1{
        grid-area: title;
        color: $color-tertiary;
        text-decoration: underline $color-secondary;

    }


    

}

.contents{
    display: flex;
    justify-content: center;

    &>article{
        border: 1px solid $color-tertiary;
        padding: 1rem;
        text-align: center;


        &:nth-child(odd){
            @include article($color-secondary, $color-tertiary, 1rem)
        }

        &:nth-child(even){
            @include article($color-primary, $color-tertiary, 1rem)
        }
        
    }
}

#footer{
    margin-top: 1rem;
    text-align: center;
    @include article($color-tertiary, $color-secondary, 24px);
}

#footer-wrapper{
    width: 100%;
}