

@use 'variables';
@use 'functions'; 


@mixin article($color, $border-color, $font-size){
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
}

#hero{
    border: 1px solid variables.$color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: functions.toRem(16);

    &>h1{
        grid-area: title;
        color: variables.$color-tertiary;
        text-decoration: underline variables.$color-secondary;

    }


    

}

.contents{
    display: flex;
    justify-content: center;

    &>article{
        border: 1px solid variables.$color-tertiary;
        padding: functions.toRem(16);
        text-align: center;


        &:nth-child(odd){
            @include article(variables.$color-secondary, variables.$color-tertiary, functions.toRem(16))
        }

        &:nth-child(even){
            @include article(variables.$color-primary, variables.$color-tertiary, functions.toRem(16))
        }
        
    }
}

#footer{
    margin-top: 1rem;
    text-align: center;
    @include article(variables.$color-tertiary, variables.$color-secondary, functions.toRem(24));
}

#footer-wrapper{
    width: 100%;
}